# Allocation algorithm

In this tutorial, we will explore the allocation algorithm. Before we can run the algorithm, we will first introduce the data.

### `projects.csv`

In [3]:
import pathlib
import pandas as pd

raw = pathlib.Path("./raw")

projects = pd.read_csv(raw / "projects.csv").set_index("code")

projects.head(3)

          external  nmax  course1  course2
code
mabe-007     False     3     True     True
abyz-203      True     2     True    False
zeta-101     False     1    False     True

`projects.csv` contains some of the data we collected from supervisors. Each project is given a unique code (`code (str)`). For each project code, we record:
- `external (bool)` indicating the project is external or internal
- `nmax (int>0)` - the maximum number of students that can be assigned to the project
- `course_i (bool)` - what course(s) the project is available for.

From the data above, we can see that the project `mabe-007` is an internal project that can be assigned to at most 3 students, and is only available for students on course1.

### `internal-choices.csv`

In [5]:
sh = pd.read_csv(raw / "internal-choices.csv").set_index("username")

sh.head(3)

           course  score   choice1   choice2   choice3   choice4
username
tb241     course1   65.3  mabe-007  upsi-222  kilo-122  osca-166
xy421     course2   78.2  osca-166  phii-010  nucl-099  indi-100
ab512     course1   54.7  taur-303  alfa-012  mabe-007  unif-222

- `choices.csv`: each student fills in a form where they select $N$ projects they are interested in, in order of preference. For each student, we also have to know which course they are enrolled in as well as their score, e.g. academic performance, which is used as a tiebreaker when multiple students have the same preferences.

Let's have a look at both datasets.